@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-prim: "Inter", sans-serif;
  --font-sec: "DM Sans", sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: var(--font-prim); /* Inter for headings */
  }
  p,
  span,
  ul,
  li {
    font-family: var(--font-sec);
  }
}
